<h3 align="center">NASDAQ-100 PM (XQC) Movement is
  <span [ngStyle]="{color: indexData.change >= 0 ? 'limeGreen' : 'tomato'}"
  > {{indexData.change | percent:'1.4'}}
    <i *ngIf="indexData.change > 0" class="long arrow alternate up icon"></i>
    <i *ngIf="indexData.change < 0" class="long arrow alternate down icon"></i>
  </span>
</h3>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Latest Closing</th>
    <th>Latest Value</th>
    <th>Benchmark Closing</th>
    <th>Benchmark Value</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>{{indexData.latest_date | date}}</td>
    <td><i class="chart bar icon"></i>  {{indexData.latest_val | number}}</td>
    <td>{{indexData.benchmark_date | date}}</td>
    <td><i class="chart bar icon"></i>  {{indexData.benchmark_val | number}}</td>
  </tr>
  </tbody>
</table>
