.ui.inverted.menu {
  background: #034f84;
}

#loginBtn {
  width: 160px;
  color: navy;
}

#stockTickerName {
  font-size: x-large;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: calc(100% - 30px) !important;
  width: calc(100% - 30px) !important;
}

#regForm {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: calc(90% - 50px) !important;
  width: calc(40% - 30px) !important;
}

#regSuccess, #regFailed {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: calc(30% - 50px) !important;
  width: calc(50% - 50px) !important;
}
