<div class="ui aligned center aligned grid">
  <div *ngIf="!alreadyLogin()" class="container justify-content-center">
    <div class="ui inverted menu justify-content-center">
      <a class="item">
        <h5>
          <i class="privacy icon"></i>
          Log-in to Trade
        </h5>
      </a>
      <a class="item">
        <div class="ui left icon input">
          <i class="envelope icon"></i>
          <input type="text" name="username" placeholder="user@abc.com" #username="ngModel"
                 autocomplete="off" [(ngModel)]="model.username">
        </div>
      </a>
      <a class="item">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="password" #password="ngModel"
                 [(ngModel)]="model.password">
        </div>
      </a>
      <a class="item">
        <button id="loginBtn" class="ui fluid small submit button" type="submit" (click)="login()">Login</button>
      </a>

      <a class="item">
        <button id="registerBtn" class="ui fluid small submit button" type="submit" (click)="registerOn=true">Register
        </button>
      </a>
    </div>

    <div class="ui comment justify-content-center" *ngIf="failedLogin">
      <h5 class="ui dividing header">Login Failed Please Use the Complimentary Account as Below
      </h5>
      <div class="comment">
        <div class="content">
          <div class="text">username: <i class="user icon"></i>user@abc.com</div>
          <div class="text">password: <i class="key icon"></i>password</div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui dimmer visible active" *ngIf="alreadyLogin()">
    <div class="ui modal visible active">
      <div class="scrolling content">
        <app-tradeorder></app-tradeorder>
      </div>
    </div>
  </div>

  <app-quotepage></app-quotepage>

  <div class="ui dimmer visible active" *ngIf="registerOn">
    <div id="regForm" class="ui modal visible active">
      <div class="header">
        Thank you for joining us
      </div>
      <div class="content">
        <form class="ui form" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">

          <app-valid-input [control]="registerForm.controls.fullname"
                           label="Full Name" placeholder="Arya Stark" type="text"></app-valid-input>
          <div class="ui hidden divider"></div>
          <app-valid-input [control]="registerForm.controls.email"
                           label="Email" placeholder="arya.stark@got.ca" type="text"></app-valid-input>
          <div class="ui hidden divider"></div>
          <app-valid-input [control]="registerForm.controls.password"
                           label="Password" type="password"></app-valid-input>
          <div class="ui hidden divider"></div>

          <button class="ui negative left floated labeled icon button" (click)="registerCancel()"><i
            class="cancel icon"></i>Cancel
          </button>
          <button [disabled]="registerForm.invalid" class="ui positive right floated labeled icon button" type="submit">
            <i class="checkmark icon"></i>Submit
          </button>
        </form>
      </div>
    </div>
  </div>


  <div class="ui dimmer visible active" *ngIf="registerSuccess">
    <div id="regSuccess" class="ui modal visible active">
      <i class="close icon"></i>
      <div class="header">
        Thank you for signing up
      </div>
      <div class="content">
        <div class="ui comments">
          <div class="comment">
            <a class="avatar">
              <i class="user icon"></i>
            </a>
            <div class="content">
              <div class="author">{{registeredFullname}}</div>
              <div class="text">
                please login with
              </div>
              <div class="text"><i class="envelope icon"></i>{{model.username}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="ui positive labeled icon button" (click)="registerSuccess=false"><i class="checkmark icon"></i>Close
        </button>
      </div>
    </div>
  </div>

  <div class="ui dimmer visible active" *ngIf="registerFail">
    <div id="regFailed" class="ui modal visible active">
      <i class="close icon"></i>
      <div class="header">
        Opps, something is wrong, please try again
      </div>
      <div class="content">
        <div class="ui comments">
          <div class="comment">
            <div class="text">
              {{this.registerFailMsg}}
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="ui positive labeled icon button" (click)="registerFail=false"><i class="checkmark icon"></i>Close
        </button>
      </div>
    </div>
  </div>

</div>

