<div class="ui segment" *ngIf="imageStories[0]">
  <mdb-carousel class="carousel slide carousel-fade"
                [animation]="'fade'">
    <mdb-carousel-item *ngFor="let story of imageStories.slice(0,6), let i = index">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <img class="ui fluid image" src="{{imageStories[i].urlToImage}}">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h4><a href="{{imageStories[i].url}}">{{imageStories[i].title}}</a></h4>
              <p>{{imageStories[i].description}}</p>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
