
img {
  object-position: 50% 10%;
}

a {
  color: white;
  font-weight: bold;
  text-align: left;
  margin: 50px !important;
  display: flex;
}

mdb-carousel-item{
  max-height: 350px;
}

.col-md-4{
  background-image: linear-gradient(darkslategray,lightslategray);
  color: white;
  display: block;
}
