
img {
  object-position: 50% 10%;
  object-fit: cover;
}

a {
  color: white;
  font-weight: bold;
  text-align: left;
  margin: 50px !important;
  display: block;
}

mdb-carousel-item {
  max-height: 350px;
  display: block;
}

.col-md-4 {
  background-image: linear-gradient(darkslategray, lightslategray);
  color: white;
  display: block;
}
