<div class="ui simple dropdown item">
  <i class="canada flag"></i> <a>Covid-19 {{currentStats.Confirmed | number}}</a>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item">
      <div class="ui large yellow label">
        Confirmed {{currentStats.Confirmed | number}}
      </div>
    </div>
    <div class="item">
      <div class="ui large orange label">
        Active {{currentStats.Active | number}}
      </div>
    </div>
    <div class="item">
      <div class="ui large green label">
        Recovered {{currentStats.Recovered | number}}
      </div>
    </div>
    <div class="item">
      <div class="ui large red label">
        Deaths {{currentStats.Deaths | number}}
      </div>
    </div>
  </div>
</div>








