<div class="ui simple dropdown item" *ngIf="currentStats!==null">
  <i class="canada flag"></i> <a>Covid-19</a>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item">
      <div class="row">
        <div class="ui big yellow label">
          Confirmed {{currentStats.Confirmed | number}}
        </div>
      </div>
      <div class="row">
        <div class="ui big orange label">
          Active {{currentStats.Active | number}}
        </div>
      </div>
      <div class="row">
        <div class="ui big green label">
          Recovered {{currentStats.Recovered | number}}
        </div>
      </div>
      <div class="row">
        <div class="ui big grey label">
          Deaths {{currentStats.Deaths | number}}
        </div>
      </div>
    </div>
    <div class="item">
      <google-chart
        [type]="type" [data]="gchartData" [options]="options"
      ></google-chart>
    </div>
  </div>
</div>








