.card {
  margin: 20px;
  border: #ddd solid 1px;
  background: #f4f4f4;
  font-size: 14px;
  padding: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  width: 320px;
  height: 400px;
}

.card:hover {
  margin: 12px;
  background: lightskyblue;
  box-shadow: 10px 10px grey;
}
