<div class="card chart-card">
  <div class="card-body pb-0">
    <h3 class="card-title font-weight-bold"><a id="stockTickerName" class="ui blue tag label">{{name}}</a></h3>
    <p class="card-text mb-4">{{newestAvailableDate | date}}</p>
    <div class="d-flex justify-content-between">
      <p class="display-4 align-self-end">{{price | currency:'USD'}}</p>
      <p class="align-self-end pb-2"> vol. {{volume | number}}</p>
    </div>
  </div>
  <google-chart
    [type]="type" [data]="extractedData" [options]="options"
  >
  </google-chart>
</div>
