.ui.info.message {
  display: flex;
  justify-items: center;
  justify-content: center;

  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: calc(50% - 50px) !important;
  width: calc(100% - 10px) !important;
}

.ui.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;

  /*background-color: #d9dfe5;*/
  -webkit-animation: bummer 2s;
  animation: bummer 2s;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.ui.styled.accordion {
  width: calc(100% - 10px) !important;
  font-size: medium;
  text-align: justify;
}

.ui.left.icon.input {
  width: 280px !important;
}


/*.ui.centered.medium.image {*/
/*  !*height: 100%;*!*/
/*  !*width: 100%;*!*/
/*  !*position: fixed;*!*/
/*  background-color: #d9dfe5;*/
/*  -webkit-animation: bummer 2s;*/
/*  animation: bummer 2s;*/
/*  -webkit-transform: scale(0,0);*/
/*  transform: scale(0,0);*/
/*  -webkit-animation-fill-mode: forwards;*/
/*  animation-fill-mode: forwards; !* Add this so that your modal doesn't*/
/*                                      close after the animation completes *!*/
/*}*/

@-webkit-keyframes bummer {
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes bummer {
  100% {
    transform: scale(1, 1);
  }
}
