.ui.info.message{
  display: flex;
  justify-items: center;
  justify-content: center;

  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: calc(50% - 50px) !important;
  width: calc(80% - 50px) !important;
}

.ui.segment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
