<form class="ui form">
  <div class="fields justify-content-center">
    <div class=" inline field">
      <div class="ui right pointing orange basic label" *ngIf="newsArticles.length===0">
        Dive Deeper into a Topic
      </div>
      <input (input)="keyword=$event.target.value" class="ui left icon input" type="text" placeholder="Search"
             [value]="keyword">
    </div>
    <div class="field">
      <button (click)="onClickSearchDirect()" class="ui primary basic button" type="submit">Search</button>
    </div>
    <div class="field">
      <button (click)="clearResult($event)" type="submit" class="ui secondary basic button" *ngIf="newsArticles.length>0">Clear</button>
    </div>
    <div class="field">
      <div id="wikiButton" class="ui labeled button right aligned" tabindex="0" (click)="showWiki=true"
           *ngIf="wikiArticles.length>0">
        <div class="ui basic blue button">
          <i class="fork icon"></i> more on wiki
        </div>
        <a class="ui basic left pointing blue label right floated">
          {{wikiArticles.length}} articles
        </a>
      </div>
    </div>
  </div>




</form>


<div class="ui info message" *ngIf="showWiki">
  <i class="close icon" (click)="showWiki=false"></i>
  <div class="ui styled accordion">
    <ng-container *ngFor="let article of wikiArticles, let i = index">
      <div class="title" (click)="onClickWikiArticle(i)" [ngClass]="{active: i === openedWikiArticle}">
        <i class="dropdown icon"></i>
        {{article.title}}
      </div>
      <div class="content" [ngClass]="{active: i === openedWikiArticle}" [innerHTML]="article.snippet">
      </div>
    </ng-container>
  </div>
  <div class="ui divider"></div>
</div>


<div>
  <app-headlines [articles]="newsArticles"></app-headlines>
</div>
