<div class="row justify-content-center">
  <div class="container">
    <footer class="footer mt-auto py-3">
      <cite title="Source Title"> <i class="info icon"></i> Disclaimer: </cite>
      This website is for demostrations purpose only. It does not offer investment advice and nothing in it should be
      construed as investment advice.
    </footer>
  </div>
  <div class="ui hidden divider"></div>
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled: currentPage===1}">
        <a class="page-link" (click)="currentPage = currentPage -1">Prev</a>
      </li>
      <li class="page-item"
          [ngClass]="{active: i ===currentPage}"
          *ngFor="let i of [1,2]">
        <a class="page-link" (click)="currentPage = i">{{i}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled: currentPage===2}">
        <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="ui info message" *ngIf="showDailyTips">
  <i class="close icon" (click)="clearDailyTip()"></i>
  <div class="content">
    Daily Tips : Hover on the chart line to see daily price level.
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="d-flex justify-content-center">
  <div class="spinner-grow text-primary" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="row justify-content-center">
  <div class="card-columns" *ngFor="let quote of quotes.slice((currentPage-1)*3, (currentPage-1)*3+3)">
    <app-quotecard
      [name]="quote.dataset.name"
      [newestAvailableDate]="quote.dataset.newest_available_date"
      [price]="quote.dataset.data[0][4]"
      [volume]="quote.dataset.data[0][5]"
      [data]="quote.dataset.data"
    ></app-quotecard>
  </div>
</div>




