.ui.pointing.below {
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: calc(100% - 50px) !important;
  width: calc(100% - 50px) !important;
  justify-self: center;
}
