<h5>NASDAQ-100 PM Settlement Value (XQC) Movement is
  <span [ngStyle]="{color: indexData.change >= 0 ? 'limeGreen' : 'tomato'}"
  > {{indexData.change | percent:'1.4'}} </span>
</h5>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Latest Closing</th>
    <th>Latest Value</th>
    <th>Benchmark Closing</th>
    <th>Benchmark Value</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>{{indexData.latest_date | date}}</td>
    <td>{{indexData.latest_val}}</td>
    <td>{{indexData.benchmark_date | date}}</td>
    <td>{{indexData.benchmark_val}}</td>
  </tr>
  </tbody>
</table>
