.table {
  color: orange;
  font-size: medium;
  text-align: left;
}

.form-control {
  border-color: darkorange;
}

#publishAt {
  font-size: small;
}

th {
  text-align: center;
}

#headlineWithLink {
  color: orange;
}
