<div *ngIf="articles.length>0">

  <h3 align="center" class="senti_score_prefix">Overall Sentiment Score is
    <span [ngStyle]="{color: avgSentScore(filterTitleHandler()) >= 0 ? 'limeGreen' : 'tomato'}"
    >{{avgSentScore(filterTitleHandler()) | number:'1.4'}}
      <i *ngIf="avgSentScore(filterTitleHandler()) > 0" class="long arrow alternate up icon"></i>
    <i *ngIf="avgSentScore(filterTitleHandler()) < 0" class="long arrow alternate down icon"></i>
    </span>
  </h3>


  <div>
    <input class="form-control mr-sm-2" type="search" name="filterTitle"
           placeholder="Type Here to Filter News Title"
           (keyup)="onKeyUpHandleFilterWord($event.target.value)"
    />
  </div>
  <br/>
  <div>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th>Headline</th>
        <th>Sentiment</th>
        <th>Source</th>
        <th>Publish Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let article of filterTitleHandler()" data-toggle="tooltip" title={{article.description}}>
        <td>{{article.title}}</td>
        <td [ngStyle]="{color: article.sentiment >= 0 ? 'limeGreen' : 'tomato'}">{{article.sentiment}} <i
          class="thermometer half icon"></i></td>
        <td>{{article.source.name}}</td>
        <td id="publishAt">{{article.publishedAt | date:"MMM-dd HH:MM"}}</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
