<div>

  <h5 align="center" class="senti_score_prefix">Overall Sentiment Score is
    <span [ngStyle]="{color: avgSentScore(filterTitleHandler()) >= 0 ? 'limeGreen' : 'tomato'}"
    >{{avgSentScore(filterTitleHandler()) | number:'1.4'}}</span>
  </h5>


  <div>
    <input class="form-control mr-sm-2" type="search" name="filterTitle"
           placeholder="Type Here to Filter News Title"
           (keyup)="onKeyUpHandleFilterWord($event.target.value)"
    />
  </div>
  <br/>
  <div>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th>Title</th>
        <th>Sentiment</th>
        <th>Source</th>
        <th>Publish Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let article of filterTitleHandler()" data-toggle="tooltip" title={{article.description}}>
        <td>{{article.title}}</td>
        <td [ngStyle]="{color: article.sentiment >= 0 ? 'limeGreen' : 'tomato'}">{{article.sentiment}}</td>
        <td>{{article.source.name}}</td>
        <td>{{article.publishedAt | date:"MMM-dd HH:MM"}}</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
