
.image {
  filter: brightness(40%);
  display: block;
  max-height: 65em;
  width: auto;
  height: auto;
}

.segment {
  position: relative;
  text-align: center;
}

.container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#artificial {
  text-decoration: line-through;
  font-style: italic;
}

.divider {
  font-size: x-large;
}
