<div class="ui segment">
  <img class="ui fluid image" src="assets/landing-background.jpeg">
  <div class="ui text container">
    <h1>
      Make Informed Investment Decisions
    </h1>
    <h1 class="ui horizontal inverted divider">
      Based on
    </h1>
    <h2><a id="artificial">Artifical</a> Real Intelligence.</h2>
    <div class="ui hidden divider"></div>
    <div class="ui huge primary button" routerLink="/home">
      Get Started <i class="right arrow icon"></i>
    </div>
  </div>
</div>
