img{
  filter: brightness(40%);
}

.segment{
  position: relative;
  text-align: center;
}

.container{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#artificial{
  text-decoration: line-through;
  font-style: italic;
}

.divider{
  font-size: x-large;
}
